<div class="row">
  <div id="projects_form">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    	<div class="panel panel-default">
        	 <div class="panel-heading">
              <h4 class="panel-title">
              	<i class="fa fa-pencil-square-o fa-2x"></i>
                &nbsp Edit Analysis
              </h4>
        	 </div>
        	 <div class="panel-body">
    		      <%= render 'form' %>
    	     </div>
      </div>
    </div>
  </div>
</div>
