<div class="row">
	<div id="projects_form">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
			  <div class="panel-body">
			    	Create a unique, informative name. The name will appear in the Analysis Execution History on the Explore tab and should be a name 	that will distinguish it from the other analysis in your history.
			  </div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<i class="fa fa-plus-square-o fa-2x"></i>
						&nbsp New Analysis
					</h4>
				</div>
				<div class="panel-body">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

